<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>symmkey</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css" th:href="@{/webjars/layui/2.5.6/css/layui.css}"/>
</head>
<body>
    <div class="layui-container">
        <div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>DES</legend>
            </fieldset>
            <div class="layui-col-sm12">
                <form class="layui-form" id="form_des">
                    <div class="layui-form-item">
                        <div class=" layui-col-sm12">
                            <input type="button" class="layui-btn" lay-submit lay-filter="des" value="生成密钥">
                            <input type="reset" class="layui-btn" value="清空密钥">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class=" layui-col-sm12">
                            <textarea class="layui-textarea" id="keyData_DES" name=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-sm12" >
                <pre class="layui-code">
/**
 * @Method: generateKeyForDES   DESC:   生成DES密钥
 */
@GetMapping("/generatekey/des/{length}")
public Result generateKeyForDES(@PathVariable("length") int length){
    SymmKeyResult symmKey = new SymmKeyResult();
    try {
        //  添加密码模块BC包支持
        Security.addProvider(new BouncyCastleProvider());

        //  初始化密钥生成器
        KeyGenerator keyGenerator = KeyGenerator.getInstance(Constants.ALGORITHM_DES, Constants.PACKAGE_BC);
        keyGenerator.getProvider();
        keyGenerator.init(length);

        //  获取密钥
        SecretKey secretKey = keyGenerator.generateKey();
        byte[] encoded = secretKey.getEncoded();

        //  转换为Base64字符串
        String desKey = Base64.toBase64String(encoded);
        symmKey.setKey(desKey);

        return result.success(symmKey);
    } catch (Exception ex){
        ex.printStackTrace();
        return result.failed(ex.getMessage());
    }
}
                </pre>
            </div>
        </div>
        <div class="layui-col-sm12">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>AES</legend>
            </fieldset>
            <div class="layui-col-sm12">
                <form class="layui-form" id="form_aes">
                    <div class="layui-form-item">
                        <div class=" layui-col-sm12">
                            <input type="button" class="layui-btn" lay-submit lay-filter="aes" value="生成密钥">
                            <input type="reset" class="layui-btn" value="清空密钥">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class=" layui-col-sm12">
                            <textarea class="layui-textarea" id="keyData_AES" name=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-sm12" >
                <pre class="layui-code">
/**
 * @Method: generateKeyForAES   DESC:   生成AES密钥
 */
@GetMapping("/generatekey/aes/{length}")
public Result generateKeyForAES(@PathVariable("length") int length){
    SymmKeyResult symmKey = new SymmKeyResult();
    try {
        //  添加密码模块BC包支持
        Security.addProvider(new BouncyCastleProvider());

        //  初始化密钥生成器
        KeyGenerator keyGenerator = KeyGenerator.getInstance(Constants.ALGORITHM_AES, Constants.PACKAGE_BC);
        keyGenerator.getProvider();
        keyGenerator.init(length);
        //  创建密钥生成器
        KeyGenerator keyGenerate = KeyGenerator.getInstance(ALGORITHM_AES);
        //  初始化密钥声生成器
        keyGenerate.init(length);

        //  获取密钥
        SecretKey secretKey = keyGenerator.generateKey();
        byte[] encoded = secretKey.getEncoded();

        //  转换为Base64字符串
        String desKey = Base64.toBase64String(encoded);
        symmKey.setKey(desKey);

        return result.success(symmKey);
    } catch (Exception ex){
        ex.printStackTrace();
        return result.error();
    }
}
                </pre>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/jquery-3.4.0.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" src="layui/layui.js" th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script type="text/javascript">
    var code_seccuss = 0, length;
    layui.use(['form','layer'], function () {
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(aes)', function(data){
            $.get({
                url:'[[@{/generatekey/aes}]]',
                dataType: 'json',
                success: function (res) {
                    if(res.code == code_seccuss){
                        layer.msg('code: '+res.code+', message: '+res.message);
                        $('#keyData_AES').text(res.data.key);
                    }else{
                        layer.msg('code: '+res.code+', message: '+res.message);
                    }
                },
                error: function (res) {
                    layer.msg('code: '+res.code+', message: '+res.message);
                }
            });
            return false;
        });

        //监听提交
        form.on('submit(des)', function(data){
            $.get({
                url:'[[@{/generatekey/des}]]',
                dataType: 'json',
                success: function (res) {
                    if(res.code == code_seccuss){
                        layer.msg('code: '+res.code+', message: '+res.message);
                        $('#keyData_DES').text(res.data.key);
                    }else{
                        layer.msg('code: '+res.code+', message: '+res.message);
                    }
                },
                error: function (res) {
                    layer.msg('code: '+res.code+', message: '+res.message);
                }
            });
            return false;
        });

    });

    $('input[type = reset]').click( function () { $(this).parents(".layui-form").find('textarea').text(''); });
</script>
</html>